/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #


***************************************/

/**************************************/
/*              GLOBALS               */
/**************************************/
body {background-color: #FAEBD7;}
/**************************************/
/*              HEADER                */
/**************************************/



/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/


#a0 {
    top: 95px;
    left: 23px;
}

#a1 {
    left: 263px;
    top: 95px;
}
#a2 {
    left: 23px;
    top: 185px;
}
#a3 {
    left: 263px;
    top: 185px;
}

.game {}
/**************************************/
/*               FOOTER               */
/**************************************/

