/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #


***************************************/

/**************************************/
/*              GLOBALS               */
/**************************************/
body {background-color: #ffffff; }
/**************************************/
/*              HEADER                */
/**************************************/



/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/
p {
    word-wrap: break-word;
    overflow: visible;
}
div {
    word-wrap: break-word;
}


.no_margin {
    margin: 0em;
}


.quad_main_task {


}


.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.buttonother {
    display: inline-block;
    outline: none;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}


.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.orange {
    color: #ffffff;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.orangeother {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}


.lightorange {
    color: #fef4e9;
    border: solid 1px rgba(218, 124, 12, 0.59);
    background: rgba(247, 141, 29, 0.61);
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.lightorange:hover {
    background: rgba(244, 124, 32, 0.60);
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.lightorange:active {
    color: rgba(252, 211, 165, 0.62);
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}



.red {
    color: #ffffff;
    border: solid 1px #98030c;
    background: #c7030e;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF493C), to(#98030C));
    background: -moz-linear-gradient(top,  #FF493C,  #98030C);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF493C', endColorstr='#98030C');
}
.red:hover {
    background: #c7030e;
    background: -webkit-gradient(linear, left top, left bottom, from(#c7030e), to(#84030b));
    background: -moz-linear-gradient(top, #c7030e,  #84030b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7030e', endColorstr='#84030b');
}
.red:active {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#98030C), to(#FF493C));
    background: -moz-linear-gradient(top,  #98030C,  #FF493C);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#98030C', endColorstr='#FF493C');
}



#a0 {
    top: 95px;
    left: 23px;
}

#a1 {
    left: 263px;
    top: 95px;
}
#a2 {
    left: 23px;
    top: 185px;
}
#a3 {
    left: 263px;
    top: 185px;
}

.game {}
/**************************************/
/*               FOOTER               */
/**************************************/

