body {
    /*background-color: #99ccff;*/
    background-color: #fffec7;
    font-family: Arial, Helvetica, sans-serif;

}

a:link {color: #4242ff;}
a:visited {color: #4242ff;}
a:active {color: #ff6666;}
a:hover {color: #ff6666;}
a {text-decoration: none;}

}