{% extends "index.html" %}


{% comment %}

Main page of the Writigain.

{% endcomment %}

{% block title %}
    | Listigain
{% endblock %}


{% block content %}
    <section >
        Welcome {{ user.username }}!
    </section>
    <div class="container">
        <div class="span-24 last" align="center" style="padding-bottom: 20px">
            <div class="span-9">&nbsp;</div>

            <a href="/listigain/quad">
                <div class="span-6 center" style="background-color: grey;  display: table;">
                    <div style="display: table-cell; vertical-align: middle; font: bolder; font-size: 12pt; height: 65px">
                        Go to your Quad
                    </div>
                </div>
            </a>
            <div class="span-9">&nbsp;</div>
            <div class="span-24" style="height: 10px">&nbsp;</div>

            <div class="span-9">&nbsp;</div>
            <a href="/listigain/add">
                <div class="span-6 center" style="background-color: grey; text-decoration-color: #ffffff; display: table;">
                    <div style="display: table-cell; vertical-align: middle; font: bolder; font-size: 12pt; height: 30px">
                        Add something to your to-do list
                    </div>
                </div>
            </a>
        </div>
    </div>

{% endblock %}