{% extends "base.html" %}
{% comment %}

This is the main template for all portal pages.

{% endcomment %}
{% block head %}




    <title>Procrastigain{% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
    <div id="Top Logo" class="span-24 last">
        <header>
            <h1><a href="/" style="color: black;text-decoration: none; font-size: 48pt">Procrastigain</a> </h1>
        </header>
    </div>
    <div class="span-24" id="top spacer" style="height: 20px">

    </div>
    <div id="NavMenu" class="span-24">
        <div class="span-4">
            <a href="/main/"><h3>Home</h3></a>
        </div>
        <div class="span-4">
            <a href="/listigain/"><h3>Listigain</h3></a>
        </div>
        <div class="span-4">
            <a href="/writigain/"><h3>Writigain</h3></a>
        </div>
        <div class="span-4">
            <a href="/accounts/logout/"><h3>Logout</h3></a>
        </div>
        <div class="span-8 last">

        </div>
    </div>
    <div class="span-24 last" id="top spacer" style="height: 20px">

    </div>
    <div class="span-24 last" id="main_content">
        {% block content %}{% endblock %}
    </div>
    <div class="span-24 last" id="footer" align="center">
        <footer>
            <span> 2012, Procrastigain</span>
        </footer>
    </div>
{% endblock %}