{% extends "base.html" %}
{% comment %}

This is the main template for all portal pages.

{% endcomment %}
{% block head %}




    <title>Procrastigain{% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
    <div id="NavMenu" class="span-24" style="height: 75px">
        <a href="/listigain/">
            <div class="span-2 center" style=" text-decoration-color: #000000; display: table;">
                <div style="display: table-cell; vertical-align: middle; font: bolder; font-size: 12pt; height: 20px">
                    Listigain
                </div>
            </div>
        </a>
        <a href="/writigain/">
            <div class="span-2 center" style=" text-decoration-color: #000000; display: table;">
                <div style="display: table-cell; vertical-align: middle; font: bolder; font-size: 12pt; height: 20px">
                    Writigain
                </div>
            </div>
        </a>

        <div    class="span-3">&nbsp;</div>

        <div id="Top Logo" class="span-10 center">
            <a href="/" style="color: #000000;text-decoration: none; font-size: 30pt; font-family: 'Times New Roman'"><img src="/static/images/Logo.png"></a>
        </div>

        <a href="/about/">
            <div class="span-1 center" style=" text-decoration-color: #000000; display: table;">
                <div style="display: table-cell; vertical-align: middle; font: bolder; font-size: 10pt; height: 20px">
                    About
                </div>
            </div>
        </a>


        <a href="/team/">
            <div class="span-1 center" style=" text-decoration-color: #000000; display: table;">
                <div style="display: table-cell; vertical-align: middle; font: bolder; font-size: 10pt; height: 20px">
                    Team
                </div>
            </div>
        </a>
        <a href="/contact/">
            <div class="span-1 center" style=" text-decoration-color: #000000; display: table;">
                <div style="display: table-cell; vertical-align: middle; font: bolder; font-size: 10pt; height: 20px">
                    Contact
                </div>
            </div>
        </a>

        <a href="/accounts/my_account/">
            <div class="span-1 center" style=" text-decoration-color: #000000; display: table;">
                <div style="display: table-cell; vertical-align: middle; font: bolder; font-size: 10pt; height: 20px">
                    Account
                </div>
            </div>
        </a>

        <a href="/accounts/logout/">
            <div class="span-1 center last" style=" text-decoration-color: #000000; display: table;">
                <div style="display: table-cell; vertical-align: middle; font: bolder; font-size: 10pt; height: 20px">
                    Logout
                </div>
            </div>
        </a>

    </div>



    <div class="span-24 last" id="top spacer" style="height: 20px">

    </div>
    <div class="span-24 last" id="main_content">
        {% block content %}{% endblock %}
    </div>
    <div class="span-24 last" id="footer" align="center" >
        <footer style="margin-top: 50px">
            <div > 2013, Procrastigain</div>
        </footer>
    </div>
{% endblock %}