{% extends "index.html" %}


{% comment %}

Main page of the Writigain.

{% endcomment %}

{% block title %}
   | Listigain
{% endblock %}


{% block content %}
    <section>
        <h2>Welcome to Listigain, {{ user.username }}</h2>
    </section>
    <div class="container">
        <div class="span-24 last" align="center" style="padding-bottom: 20px">
            Add something to your list by clicking <a href="/listigain/add">here</a>
        </div>
       <div id="Educational" class="span-6" align="center">
       <h2>Educational</h2>
       <br>
           {% if educational_task_list %}
                   {% for task in educational_task_list %}
                       <p>{{ task.content }}:  {{ task.priority }}: {{ task.id }}</p>
                   {% endfor %}
           {% else %}
               <p>No tasks are available.</p>
           {% endif %}
       </div>
        <div id="Social" class="span-6" align="center">
            <h2>Social</h2>
            <br>
            {% if social_task_list %}
                {% for task in social_task_list %}
                    <p>{{ task.content }}:  {{ task.priority }}: {{ task.id }}</p>
                {% endfor %}
            {% else %}
                <p>No tasks are available.</p>
            {% endif %}
        </div>
        <div id="Physical" class="span-6" align="center">
            <h2>Physical</h2>
            <br>
            {% if physical_task_list %}
                {% for task in physical_task_list %}
                    <p>{{ task.content }}:  {{ task.priority }}: {{ task.id }} <button onclick="" </p>
                {% endfor %}
            {% else %}
                <p>No tasks are available.</p>
            {% endif %}
        </div>
        <div id="Personal" class="span-6 last" align="center">
            <h2>Personal</h2>
            <br>
            {% if personal_task_list %}
                {% for task in personal_task_list %}
                        <p>{{ task.content }}:  {{ task.priority }}: {{ task.id }}</p>
                {% endfor %}
            {% else %}
                <p>No tasks are available.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}