{% extends "index.html" %}


{% comment %}

Main page of the Writigain.

{% endcomment %}

{% block title %}
   | Listigain
{% endblock %}


{% block content %}
    <div class="span-24 center">
        <div style="color: black;text-decoration: none; ; font-size: 36pt; font-weight: 700; height: 40px; margin-bottom: 40px">Listigain</div>
    </div>
    <div class="span-24">
        Welcome {{ user.username }}!
    </div>
    <div class="container">
        <div class="span-24 last" align="center" style="padding-bottom: 20px">
            <div class="span-9">&nbsp;</div>

            <a href="/listigain/quad">
                <div class="span-6 center button red" style="display: table;">
                    <div style="display: table-cell; vertical-align: middle; font-weight: 700; font-size: 20pt; height: 100px">
                        The Quad
                    </div>
                </div>
            </a>
            <div class="span-9">&nbsp;</div>
            <div class="span-24" style="height: 10px">&nbsp;</div>

            <div class="span-9">&nbsp;</div>
            <a href="/listigain/add">
                <div class="span-6 center button red" style=" display: table;">
                    <div style="display: table-cell; vertical-align: middle; font: bolder; font-size: 12pt; height: 30px">
                        Add something to your list
                    </div>
                </div>
            </a>
            <div class="span-24" style="height: 10px">&nbsp;</div>

            <div class="span-9">&nbsp;</div>
            <a href="/listigain/">
                <div class="span-6 center button red" style=" display: table;">
                    <div style="display: table-cell; vertical-align: middle; font: bolder; font-size: 12pt; height: 30px">
                        Go back to your uncompleted tasks
                    </div>
                </div>
            </a>
        </div>
       <div id="Educational" class="span-6" align="center" >
       <h2>Educational</h2>
       <br>
           {% if educational_task_list %}
                   {% for task in educational_task_list %}


                           <div class="span-6 orangeother buttonother" style="height: 150px; display: table;">
                               <div class="span-6 last" style="height: 100px">
                                   <div  style="display: table-cell; vertical-align: middle; height: 100px">

                                       <p class="span-6 no_margin" style="font-size: 14pt; line-height: 16pt; color: #4e4e4e; font-weight: 700;">
                                           {{ task.content }}
                                       </p>
                                   </div>
                               </div>
                               <div class="span-6 last" style="height: 50px">
                                   <div style="display: table-cell; vertical-align: bottom; height: 50px">
                                       <div class="span-3 center" style="">
                                           <div style="font-size: 7pt; ">
                                               Priority
                                           </div>
                                           <div style="font-size: 14pt">
                                               {{ task.priority }}
                                           </div>
                                           <div style="font-size: 7pt">
                                               {{ task.get_priority_display }}
                                           </div>
                                       </div>

                                       <div class="span-3 last">
                                           <div style="font-size: 7pt">
                                               Difficulty
                                           </div>
                                           <div style="font-size: 14pt">
                                               {{ task.difficulty }}
                                           </div>
                                           <div style="font-size: 7pt">
                                               {{ task.get_difficulty_display }}
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>

                       <form action="/listigain/{{ task.id }}/edit" > {% csrf_token %}
                           <input type="submit"  value="Edit" />
                       </form>

                       <br />
                   {% endfor %}
           {% else %}
               <p>No tasks are available.</p>
           {% endif %}
       </div>
        <div id="Social" class="span-6" align="center" >
            <h2>Social</h2>
            <br>
            {% if social_task_list %}
                {% for task in social_task_list %}
                    <div class="span-6 orangeother buttonother" style="height: 150px; display: table;">
                        <div class="span-6 last" style="height: 100px">
                            <div  style="display: table-cell; vertical-align: middle; height: 100px">

                                <p class="span-6 no_margin" style="font-size: 14pt; line-height: 16pt; color: #4e4e4e; font-weight: 700;">
                                    {{ task.content }}
                                </p>
                            </div>
                        </div>
                        <div class="span-6 last" style="height: 50px">
                            <div style="display: table-cell; vertical-align: bottom; height: 50px">
                                <div class="span-3 center" style="">
                                    <div style="font-size: 7pt; ">
                                        Priority
                                    </div>
                                    <div style="font-size: 14pt">
                                        {{ task.priority }}
                                    </div>
                                    <div style="font-size: 7pt">
                                        {{ task.get_priority_display }}
                                    </div>
                                </div>

                                <div class="span-3 last">
                                    <div style="font-size: 7pt">
                                        Difficulty
                                    </div>
                                    <div style="font-size: 14pt">
                                        {{ task.difficulty }}
                                    </div>
                                    <div style="font-size: 7pt">
                                        {{ task.get_difficulty_display }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="/listigain/{{ task.id }}/edit" > {% csrf_token %}
                        <input type="submit" value="Edit" />
                    </form>

                    <br />
                {% endfor %}
            {% else %}
                <p>No tasks are available.</p>
            {% endif %}
        </div>
        <div id="Physical" class="span-6" align="center" >
            <h2>Physical</h2>
            <br>
            {% if physical_task_list %}
                {% for task in physical_task_list %}
                    <div class="span-6 orangeother buttonother" style="height: 150px; display: table;">
                        <div class="span-6 last" style="height: 100px">
                            <div  style="display: table-cell; vertical-align: middle; height: 100px">

                                <p class="span-6 no_margin" style="font-size: 14pt; line-height: 16pt; color: #4e4e4e; font-weight: 700;">
                                    {{ task.content }}
                                </p>
                            </div>
                        </div>
                        <div class="span-6 last" style="height: 50px">
                            <div style="display: table-cell; vertical-align: bottom; height: 50px">
                                <div class="span-3 center" style="">
                                    <div style="font-size: 7pt; ">
                                        Priority
                                    </div>
                                    <div style="font-size: 14pt">
                                        {{ task.priority }}
                                    </div>
                                    <div style="font-size: 7pt">
                                        {{ task.get_priority_display }}
                                    </div>
                                </div>

                                <div class="span-3 last">
                                    <div style="font-size: 7pt">
                                        Difficulty
                                    </div>
                                    <div style="font-size: 14pt">
                                        {{ task.difficulty }}
                                    </div>
                                    <div style="font-size: 7pt">
                                        {{ task.get_difficulty_display }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="/listigain/{{ task.id }}/edit" > {% csrf_token %}
                        <input type="submit" value="Edit" />
                    </form>

                    <br />
                {% endfor %}
            {% else %}
                <p>No tasks are available.</p>
            {% endif %}
        </div>
        <div id="Personal" class="span-6 last" align="center" >
            <h2>Personal</h2>
            <br>
            {% if personal_task_list %}
                {% for task in personal_task_list %}
                    <div class="span-6 orangeother buttonother" style="height: 150px; display: table;">
                        <div class="span-6 last" style="height: 100px">
                            <div  style="display: table-cell; vertical-align: middle; height: 100px">

                                <p class="span-6 no_margin" style="font-size: 14pt; line-height: 16pt; color: #4e4e4e; font-weight: 700;">
                                    {{ task.content }}
                                </p>
                            </div>
                        </div>
                        <div class="span-6 last" style="height: 50px">
                            <div style="display: table-cell; vertical-align: bottom; height: 50px">
                                <div class="span-3 center" style="">
                                    <div style="font-size: 7pt; ">
                                        Priority
                                    </div>
                                    <div style="font-size: 14pt">
                                        {{ task.priority }}
                                    </div>
                                    <div style="font-size: 7pt">
                                        {{ task.get_priority_display }}
                                    </div>
                                </div>

                                <div class="span-3 last">
                                    <div style="font-size: 7pt">
                                        Difficulty
                                    </div>
                                    <div style="font-size: 14pt">
                                        {{ task.difficulty }}
                                    </div>
                                    <div style="font-size: 7pt">
                                        {{ task.get_difficulty_display }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="/listigain/{{ task.id }}/edit" > {% csrf_token %}
                        <input type="submit" value="Edit" />
                    </form>

                    <br />
                {% endfor %}
            {% else %}
                <p>No tasks are available.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}