{% extends 'index.html' %}

{% block content %}
    <div id="sound"></div>
<div id="taskscreen2">
    <div class="span-24" id="task_info2" ><p></p></div>
    <div class="span-24" id="complete2" ></div>
</div>



{% endblock %}

{% block script %}
    <script>

        var TURNTIME=10;

        var s = null;  //setInterval (for the countdown timer)
        var turn = 1; // turn count
        var sec_left = null; // number of seconds left for the countdown timer
        var submitted = true;
        var initialized = false;
        var id = null;
        var task_id = "{{ requested_task.pk }}";
        var task_content = "{{ requested_task.content }}";

        $('#complete2').click(completed);

        // grab the word list
        sec_left = TURNTIME;
        var t;


        $("#task_info2").html('<div class="span-24" style="text-align: center; font-size: 16pt; line-height: 24pt; padding-bottom: 100px"><p style="padding-bottom: 50px; font-size: 24pt"> ' + task_content + '</p>'
                + '<p><div id="txt" style="padding-bottom: 25px; font-size: 36pt; color: red;"></div> of time left until this session is over!</p></div>'
                + '<div class="span-24" style="text-align: center; font-size: 16pt; line-height: 16pt;"><p>If you are speedy and finish your task before time is up, click the button below!</p></div>');
        $("#complete2").html('<div class="span-9">&nbsp;</div> <a href="javascript:void(0)"> <div class="span-6 center button orange" style=" height: 100px; display: table; ">' +
                '<div style="display: table-cell; vertical-align: middle; font: bold; font-size: 16pt; line-height: 16pt">Finished already!</div></div></a>');
        t=setTimeout(function(){startTime()},500);


        function startTime()
        {
            var minutes = Math.floor(sec_left/60);
            sec_left -= minutes*60;
            document.getElementById('txt').innerHTML=LeadingZero(minutes) + ":" + LeadingZero(sec_left);
            sec_left--;
            sec_left+=minutes*60;
            if (sec_left == 4) {
                $('#sound').html('<audio autoplay><source src="/static/audio/beep.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio>');
            }
            if (sec_left == 0) {
                $('#sound').html('<audio autoplay><source src="/static/audio/gong.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio>');
            }
            if (sec_left >=0) {
                t=setTimeout(function(){startTime()},1000);
            }
            else {
                $('#sound').html('<audio autoplay><source src="/static/audio/gong.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio>');
                clearTimeout(t);
                sec_left = 0;
                time_up();
            }
        }




        function completed() {
            window.clearInterval()
            var time_spent = TURNTIME - sec_left;
            started_from_listigain = true;
            window.location.replace('/listigain/'+task_id+'/'+time_spent+'/completed_from_listigain');

        }
        function time_up() {
            window.clearInterval()
            var time_spent = TURNTIME - sec_left;
            started_from_listigain = true;
            window.location.replace('/listigain/'+task_id+'/'+time_spent+'/time_up_from_listigain');
        }


    </script>

{% endblock %}
