{% extends 'index.html' %}

{% block content %}
<div class="splash ">
    <div class="spash-header">
    </div>
    <div class="spash-buttons">
        <div class="new">
            <a  href="javascript:void(0)">Start Quad</a>
        </div>
    </div>
</div>
<div class="gameover"></div>
<div class="game">
    <div class="ct"></div>
    <div class="nt"></div>
    <div class="game-header">
    </div>
    <div class="game-info">
    </div>
    <div class="game-questions">
        <div class="qb" >
        </div>
        <div id="a0" class="ab"><div class="abox"> <div class="answer"></div></div></div>
        <div id="a1" class="ab"><div class="abox"><div class="answer"></div></div></div>
        <div id="a2" class="ab"><div class="abox"><div class="answer"></div></div></div>
        <div id="a3" class="ab"><div class="abox"><div class="answer"></div></div></div>
    </div>
</div>
{% endblock %}
