
{% extends "index.html" %}


{% comment %}

Main page of the Writigain.

{% endcomment %}
{% block title %}
    | Writigain
{% endblock %}


{% block content %}
    <section>
        <h2>Welcome, {{ user.username }}</h2>
        <p>The Writigain App is coming soon! Check out the blog for updates!</p>
    </section>

{% endblock %}
{% comment %}

{% block title %}
   | Writigain
{% endblock %}


{% block content %}
    <section>
        <h2>Welcome, {{ user.username }}</h2>
        <p>This is Writigain.</p>
    </section>
<div id="container" style="width:1000px">
    <div align="center" id="textbox" style="float: left; width: 500px;">
        <label>
            <textarea rows="25" cols="50"></textarea>
        </label>

    </div>
    <div id="write!" style="float: left; width: 200px;">
        <span style="font-size: large;"><-------WRITE!</span>
    </div>
</div>

<div style="float: left ">

    <input type="button" id="toggleTimer" value="Start count!" onclick="doTimer()" />
    <p id="txt">0</p>
</div>
{% endblock %}

{% endcomment %}